
## Capstone Project
by *Mathias Jørgensen*

## Introduction:

I am working for a high-end restaurant chain and am trying to an area to open a Michellin-type restaurant in.
My stakeholders, the investors in EATWELL Corp, are very keen on finding the perfect location to open this new restaurant.

Having conversed with several of my teams members and brainstormed, we have defined the spot for us would be:
- An area where the housing prices are above the average in London.
- A minimum amount of restaurants already.

We need to present the perfect location to our stakeholders, the investors.

## Data

To get information on all property transactions in London, we have found the data which HM Land Registry publishes on their website. (http://landregistry.data.gov.uk/). All of this information is publicly available due to the government wanting to promote economic growth and data transparency. A total of three datasets are available, with the first one being our main priority in this report:

- Price paid data updated monthly, data available from 1995.
- Transaction data updated monthly, data available from December 2011.
- UK House Price Index downloads updated monthly, data available from January 1995.

The datasets come in comma-separated value (csv) and linked data formats, with Price Paid Data also available as a text file. The dataset we will use for this report will be download from the following link for the 2019 version: http://prod2.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2019.csv

In the Price Paid Data, we have a broad selection of information, including the the following information:
- Postcode 
- PAON Primary Addressable Object Name (Typically the house number or name)
- SAON Secondary Addressable Object Name (If there is a sub-building, for example, the building is divided into flats, there will be a SAON) 
- Street
- Locality 
- Town/City 
- District 
- County

Furthermore, to explorer the restaurants in the areas we will access the FourSquare API and combine this information with the above dataset to find an area which is both in the high end of housing prices and with other well-reviewed restaurants near in order for us to identify the area as a good fit for a new restaurant.

# Methodology

In [3]:
#IN THIS SECTION OF THE CODE, WE IMPORT ALL THE LIBRARIES NEEDED FOR THE REPORT

import os # Operating System
import sys
import numpy as np
import pandas as pd
import datetime as dt # Datetime
import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes
import folium #import folium # map rendering library

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

### Data preparation and preprocessing

Here we prepare the dataset by doing the following steps:

- Name the columns needed
- Reformat the date 
- Sort by date of sale
- Choose only data for the city of London
- Make a list of street names in London
- Calculate the average price of the property per street
- Read the street-wise coordinates into a data frame, eliminating recurring word London from individual names
- Join the data to find the coordinates

In [13]:
#Import the 2019 data from the UK Land Registry (http://landregistry.data.gov.uk/)
#importdata = pd.read_csv("http://prod2.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2019.csv")

PriceData = importdata

PriceData.columns = ['TUID', 'Price', 'Date_Transfer', 'Postcode', 'Prop_Type', 'Old_New', 'Duration', 'PAON', \
                  'SAON', 'Street', 'Locality', 'Town_City', 'District', 'County', 'PPD_Cat_Type', 'Record_Status']

#We only want to look at transactions in the last five years, so we delete all transactions before 2016
PriceData['Date_Transfer'] = pd.to_datetime(PriceData['Date_Transfer'])
start_date = '01-01-2016'
end_date = '31-12-2020'
mask = (PriceData['Date_Transfer'] > start_date) & (PriceData['Date_Transfer'] <= end_date)
PriceData = PriceData.loc[mask]
PriceData = PriceData.sort_values(by='Date_Transfer', ascending=False, na_position='first')
PriceData

,TUID,Price,Date_Transfer,Postcode,Prop_Type,Old_New,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD_Cat_Type,Record_Status
167663,{98C75471-DBF0-72E9-E053-6B04A8C042F0},100000,2019-11-28,NN1 4JS,T,N,F,10,NaN,DERBY ROAD,ABINGTON,NORTHAMPTON,NORTHAMPTON,NORTHAMPTONSHIRE,A,A
187466,{98C75472-296B-72E9-E053-6B04A8C042F0},210000,2019-11-28,NN9 5JB,S,N,F,20,NaN,TINGDENE ROAD,FINEDON,WELLINGBOROUGH,WELLINGBOROUGH,NORTHAMPTONSHIRE,A,A
743689,{98C75471-AD6F-72E9-E053-6B04A8C042F0},299000,2019-11-28,BH18 8HU,D,N,F,75,NaN,KEIGHLEY AVENUE,NaN,BROADSTONE,"BOURNEMOUTH, CHRISTCHURCH AND POOLE","BOURNEMOUTH, CHRISTCHURCH AND POOLE",A,A
114116,{98C75471-959C-72E9-E053-6B04A8C042F0},145000,2019-11-28,PL18 9NQ,D,N,F,THORNLEIGH,NaN,NaN,MIDDLE DIMSON,GUNNISLAKE,CORNWALL,CORNWALL,A,A
212676,{98C75472-BCCC-72E9-E053-6B04A8C042F0},102500,2019-11-28,EC4Y 8AD,O,N,F,4 - 7,ROOF AND AIR SPACE,LOMBARD LANE,NaN,LONDON,CITY OF LONDON,GREATER LONDON,B,A
646941,{98C75472-A7AB-72E9-E053-6B04A8C042F0},35500,2019-11-27,LA14 1DR,T,N,F,34,NaN,HALL STREET,NaN,BARROW-IN-FURNESS,BARROW-IN-FURNESS,CUMBRIA,B,A
722110,{98C75472-0003-72E9-E053-6B04A8C042F0},175000,2019-11-27,LN4 4DQ,D,N,F,1,NaN,FERRY LANE,NORTH KYME,LINCOLN,NORTH KESTEVEN,LINCOLNSHIRE,A,A
222599,{98C75472-C633-72E9-E053-6B04A8C042F0},61000,2019-11-27,S26 5LX,T,N,F,63,NaN,EAST TERRACE,WALES BAR,SHEFFIELD,ROTHERHAM,SOUTH YORKSHIRE,B,A
194618,{98C75472-1F5D-72E9-E053-6B04A8C042F0},3750000,2019-11-27,SW1W 8JL,T,N,F,65,NaN,CHESTER ROW,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON,A,A
114247,{98C75471-97D1-72E9-E053-6B04A8C042F0},285000,2019-11-27,LA8 8NF,S,N,F,20,NaN,GREENGATE,LEVENS,KENDAL,SOUTH LAKELAND,CUMBRIA,A,A
105563,{98C75471-7361-72E9-E053-6B04A8C042F0},230000,2019-11-27,BS13 7HW,T,N,F,98,NaN,ILCHESTER CRESCENT,NaN,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A
181125,{98C75471-E912-72E9-E053-6B04A8C042F0},228000,2019-11-26,TN34 1QQ,T,N,F,11,NaN,WELLINGTON TERRACE,NaN,HASTINGS,HASTINGS,EAST SUSSEX,A,A
160562,{98C75471-D30B-72E9-E053-6B04A8C042F0},590000,2019-11-26,GL6 8LP,D,N,F,DUNDRY LODGE,NaN,NaN,FRANCE LYNCH,STROUD,STROUD,GLOUCESTERSHIRE,A,A
133651,{98C75472-6ECA-72E9-E053-6B04A8C042F0},86000,2019-11-26,NE9 7BX,T,N,F,91,NaN,AYCLIFFE AVENUE,NaN,GATESHEAD,GATESHEAD,TYNE AND WEAR,A,A
175106,{98C75471-E8C3-72E9-E053-6B04A8C042F0},187000,2019-11-26,DN37 7DH,D,N,F,7,NaN,TREVOR CLOSE,LACEBY,GRIMSBY,NORTH EAST LINCOLNSHIRE,NORTH EAST LINCOLNSHIRE,A,A
385009,{98C75472-7DFF-72E9-E053-6B04A8C042F0},160000,2019-11-26,B9 5SG,T,N,F,2,NaN,FOXWELL ROAD,NaN,BIRMINGHAM,BIRMINGHAM,WEST MIDLANDS,A,A
224666,{98C75472-CEDA-72E9-E053-6B04A8C042F0},5660000,2019-11-26,NaN,O,N,L,UNIT B3,NaN,AINTREE AVENUE,WHITE HORSE BUSINESS PARK,TROWBRIDGE,WILTSHIRE,WILTSHIRE,B,A
101518,{98C75471-7314-72E9-E053-6B04A8C042F0},228000,2019-11-26,BS6 7NS,F,N,L,1,FLAT 3,BAYSWATER AVENUE,NaN,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A
216436,{98C75472-C9CC-72E9-E053-6B04A8C042F0},172000,2019-11-26,NE4 6AA,S,N,F,189,NaN,WESTGATE ROAD,NaN,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE,TYNE AND WEAR,B,A
635859,{98C75472-9C5F-72E9-E053-6B04A8C042F0},132500,2019-11-26,HD2 2UB,T,N,L,8,NaN,ARMITAGE ROAD,BIRKBY,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,A,A
189352,{98C75471-E38A-72E9-E053-6B04A8C042F0},125000,2019-11-26,RG28 7BW,F,N,L,22,NaN,HARTLEY MEADOWS,NaN,WHITCHURCH,BASINGSTOKE AND DEANE,HAMPSHIRE,A,A
623116,{98C75472-9593-72E9-E053-6B04A8C042F0},92000,2019-11-26,BD22 6NX,S,N,F,4,NaN,HIGH FOLD,NaN,KEIGHLEY,BRADFORD,WEST YORKSHIRE,A,A
157034,{98C75471-C1B2-72E9-E053-6B04A8C042F0},233500,2019-11-26,CM0 7HE,D,N,F,4,NaN,CHERRY ORCHARD,NaN,SOUTHMINSTER,MALDON,ESSEX,A,A
390197,{98C75472-8EB3-72E9-E053-6B04A8C042F0},168000,2019-11-26,SP1 3WE,F,N,L,18,NaN,ARCHERS COURT,NaN,SALISBURY,WILTSHIRE,WILTSHIRE,A,A
365280,{98C75472-86B4-72E9-E053-6B04A8C042F0},225000,2019-11-26,WR14 2EL,S,N,F,8,NaN,CLARE ROAD,NaN,MALVERN,MALVERN HILLS,WORCESTERSHIRE,A,A
131419,{98C75471-9D57-72E9-E053-6B04A8C042F0},75000,2019-11-26,SA9 1LG,T,N,F,30,NaN,PELICAN STREET,YSTRADGYNLAIS,SWANSEA,POWYS,POWYS,A,A
406564,{98C75472-4CCF-72E9-E053-6B04A8C042F0},250000,2019-11-26,IP11 2LT,S,N,F,23,NaN,THORN WAY,NaN,FELIXSTOWE,EAST SUFFOLK,SUFFOLK,A,A
114233,{98C75471-95B1-72E9-E053-6B04A8C042F0},180000,2019-11-26,PL24 2EN,S,N,F,2,NaN,MANOR VIEW,NaN,PAR,CORNWALL,CORNWALL,A,A
746870,{98C75471-BE4B-72E9-E053-6B04A8C042F0},245000,2019-11-26,BN1 4NS,F,N,L,44,FLAT 1,WARLEIGH ROAD,NaN,BRIGHTON,BRIGHTON AND HOVE,BRIGHTON AND HOVE,A,A
718815,{98C75471-FB9F-72E9-E053-6B04A8C042F0},54000,2019-11-26,BB9 5RJ,T,N,L,25,NaN,BANK STREET,BRIERFIELD,NELSON,PENDLE,LANCASHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348155,{8A78B2B0-7CE5-5CB0-E053-6B04A8C0F504},60000,2019-01-01,BD6 3SH,T,N,F,42,NaN,BEACON PLACE,NaN,BRADFORD,BRADFORD,WEST YORKSHIRE,B,A
152897,{80E1AA99-04AC-7BF8-E053-6C04A8C00BF2},86000,2019-01-01,GL3 3ES,O,N,F,5,NaN,GLENVILLE PARADE,HUCCLECOTE,GLOUCESTER,GLOUCESTER,GLOUCESTERSHIRE,B,A
67960,{8355F009-9486-55C5-E053-6B04A8C0D090},136000,2019-01-01,B32 2JJ,S,N,F,42,NaN,CAPERN GROVE,NaN,BIRMINGHAM,BIRMINGHAM,WEST MIDLANDS,A,A
21945,{8355F009-0603-55C5-E053-6B04A8C0D090},288000,2019-01-01,SO51 7NR,D,N,F,47A,NaN,VINEY AVENUE,NaN,ROMSEY,TEST VALLEY,HAMPSHIRE,A,A
711321,{8355F009-CE5E-55C5-E053-6B04A8C0D090},53016900,2019-01-01,HA2 7JW,O,N,F,IMPERIAL HOUSE,NaN,IMPERIAL DRIVE,NaN,HARROW,HARROW,GREATER LONDON,B,A
311591,{80E1AA98-A621-7BF8-E053-6C04A8C00BF2},2000000,2019-01-01,KT20 6NU,D,N,F,RUSKIN HOUSE,NaN,WOODLAND WAY,KINGSWOOD,TADWORTH,REIGATE AND BANSTEAD,SURREY,A,A
164250,{8355F008-A6D4-55C5-E053-6B04A8C0D090},550525,2019-01-01,E14 3NW,F,Y,L,"HERITAGE TOWER, 118",FLAT 1602,EAST FERRY ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
154857,{80E1AA98-FF03-7BF8-E053-6C04A8C00BF2},120000,2019-01-01,DE24 8HU,O,N,F,"ASCOT VEHICLE BREAKERS, 34",NaN,GOSFORTH ROAD,NaN,DERBY,CITY OF DERBY,CITY OF DERBY,B,A
334849,{80E1AA98-59CD-7BF8-E053-6C04A8C00BF2},57000,2019-01-01,L15 1EA,T,N,L,63,NaN,STRATHCONA ROAD,NaN,LIVERPOOL,LIVERPOOL,MERSEYSIDE,A,A
575567,{80E1AA97-ED58-7BF8-E053-6C04A8C00BF2},186999,2019-01-01,NE39 1NN,T,N,F,3,NaN,STATION COTTAGES,LINTZ GREEN,ROWLANDS GILL,COUNTY DURHAM,COUNTY DURHAM,A,A
49899,{80E1AA98-2F6F-7BF8-E053-6C04A8C00BF2},648000,2019-01-01,ME3 7NW,D,N,F,STONYCROFT,NaN,TELEGRAPH HILL,HIGHAM,ROCHESTER,GRAVESHAM,KENT,A,A
22620,{8A78B2B0-4B94-5CB0-E053-6B04A8C0F504},480000,2019-01-01,NW6 5PS,F,N,L,19C,NaN,MALVERN ROAD,NaN,LONDON,BRENT,GREATER LONDON,B,A
647602,{8355F008-E92B-55C5-E053-6B04A8C0D090},170000,2019-01-01,TN40 1LS,F,N,L,THE SACKVILLE,FLAT 93,DE LA WARR PARADE,NaN,BEXHILL-ON-SEA,ROTHER,EAST SUSSEX,A,A
159946,{80E1AA99-1948-7BF8-E053-6C04A8C00BF2},1600000,2019-01-01,IP1 5AP,O,N,F,UNIT 20,NaN,FARTHING ROAD,NaN,IPSWICH,BABERGH,SUFFOLK,B,A
321783,{80E1AA98-D68B-7BF8-E053-6C04A8C00BF2},260000,2019-01-01,WR1 3DS,T,N,F,55,NaN,YORK PLACE,NaN,WORCESTER,WORCESTER,WORCESTERSHIRE,A,A
342426,{8A78B2B0-6FDC-5CB0-E053-6B04A8C0F504},1386000,2019-01-01,CR0 2SQ,O,N,F,15,NaN,CAMPBELL ROAD,NaN,CROYDON,CROYDON,GREATER LONDON,B,A
424409,{85866A65-B28A-143F-E053-6B04A8C06A15},125000,2019-01-01,BN43 6HS,O,N,F,68A,NaN,GREENWAYS CRESCENT,NaN,SHOREHAM-BY-SEA,ADUR,WEST SUSSEX,B,A
634961,{8355F009-8409-55C5-E053-6B04A8C0D090},51000,2019-01-01,NE8 1QT,F,N,L,47,NaN,COATSWORTH COURT,NaN,GATESHEAD,GATESHEAD,TYNE AND WEAR,A,A
630588,{8355F009-8539-55C5-E053-6B04A8C0D090},184000,2019-01-01,SR6 8PB,S,N,F,26,NaN,STAINTON GROVE,NaN,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
422836,{87E1551E-136D-6405-E053-6C04A8C0B2EE},190000,2019-01-01,DE24 1AQ,D,N,F,28,NaN,CHANNEL CRESCENT,NaN,DERBY,CITY OF DERBY,CITY OF DERBY,A,A
670780,{8355F008-B1B6-55C5-E053-6B04A8C0D090},680000,2019-01-01,SL6 2QU,D,N,F,5,NaN,WALKER ROAD,NaN,MAIDENHEAD,WINDSOR AND MAIDENHEAD,WINDSOR AND MAIDENHEAD,A,A
222245,{98C75472-C3FB-72E9-E053-6B04A8C042F0},60000,2019-01-01,IP9 1LD,O,N,L,POST OFFICE,NaN,THE STREET,SHOTLEY,IPSWICH,BABERGH,SUFFOLK,B,A
300597,{93E6821E-3FF0-40FD-E053-6B04A8C0C1DF},925000,2019-01-01,CM3 6NW,D,N,F,BLUEBELL BARN,NaN,LOWER BURNHAM ROAD,COLD NORTON,CHELMSFORD,MALDON,ESSEX,A,A
274255,{8CAC1318-AD15-0253-E053-6B04A8C08E51},80000,2019-01-01,TA2 7BN,F,N,L,39,FLAT 6,CHEDDON ROAD,NaN,TAUNTON,SOMERSET WEST AND TAUNTON,SOMERSET,A,A
266149,{8F1B26BE-8EE9-53DB-E053-6C04A8C03649},225000,2019-01-01,NN11 4AA,O,N,F,23,FLAT,SHEAF STREET,NaN,DAVENTRY,DAVENTRY,NORTHAMPTONSHIRE,B,A
260268,{8A78B2AF-EA88-5CB0-E053-6B04A8C0F504},410000,2019-01-01,SN6 8TE,D,N,F,53A,NaN,HIGH STREET,WATCHFIELD,SWINDON,VALE OF WHITE HORSE,OXFORDSHIRE,A,A
500449,{87E1551E-D58B-6405-E053-6C04A8C0B2EE},56000,2019-01-01,CA2 5HH,T,N,F,14,NaN,WESTMORLAND STREET,NaN,CARLISLE,CARLISLE,CUMBRIA,B,A
707950,{85866A64-FDDD-143F-E053-6B04A8C06A15},52000,2019-01-01,L36 1XU,F,N,L,19,NaN,DORSET ROAD,HUYTON,LIVERPOOL,KNOWSLEY,MERSEYSIDE,A,A
398908,{919FEC06-0F10-9A90-E053-6C04A8C0A300},1500000,2019-01-01,SL1 1TB,O,N,F,ST BERNARDS PREPARATORY SCHOOL,NaN,HAWTREY CLOSE,NaN,SLOUGH,SLOUGH,SLOUGH,B,A
718281,{85866A64-B41B-143F-E053-6B04A8C06A15},153500,2019-01-01,WN7 3LX,S,N,L,1,NaN,JEAN AVENUE,NaN,LEIGH,WIGAN,GREATER MANCHESTER,A,A

In [51]:
#Create a new dataframe which only has data for London, which is the city we are interested in
PriceData_London = PriceData.query("Town_City == 'LONDON'")
PriceData_London

,TUID,Price,Date_Transfer,Postcode,Prop_Type,Old_New,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD_Cat_Type,Record_Status
212676,{98C75472-BCCC-72E9-E053-6B04A8C042F0},102500,2019-11-28,EC4Y 8AD,O,N,F,4 - 7,ROOF AND AIR SPACE,LOMBARD LANE,NaN,LONDON,CITY OF LONDON,GREATER LONDON,B,A
194618,{98C75472-1F5D-72E9-E053-6B04A8C042F0},3750000,2019-11-27,SW1W 8JL,T,N,F,65,NaN,CHESTER ROW,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON,A,A
182394,{98C75472-1CA0-72E9-E053-6B04A8C042F0},677000,2019-11-26,E1 4BH,T,N,F,4,NaN,MILE END PLACE,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
199192,{98C75472-BBCC-72E9-E053-6B04A8C042F0},32500,2019-11-25,N17 0DT,O,N,F,79,NaN,BRANTWOOD ROAD,NaN,LONDON,HARINGEY,GREATER LONDON,B,A
215626,{98C75472-BD01-72E9-E053-6B04A8C042F0},1141122,2019-11-25,W1W 7LX,F,N,L,89,FLAT 1,GREAT PORTLAND STREET,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON,B,A
194831,{98C75471-6EE6-72E9-E053-6B04A8C042F0},385000,2019-11-25,W13 8SB,F,N,L,156B,NaN,UXBRIDGE ROAD,NaN,LONDON,EALING,GREATER LONDON,A,A
632237,{98C75472-A06A-72E9-E053-6B04A8C042F0},34000,2019-11-25,E17 9RN,O,N,F,53,NaN,CHURCH LANE,WALTHAMSTOW,LONDON,WALTHAM FOREST,GREATER LONDON,B,A
111200,{98C75472-434D-72E9-E053-6B04A8C042F0},585000,2019-11-25,SW11 5QU,T,N,F,56,NaN,DUNSTON ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A
641009,{98C75472-ADD8-72E9-E053-6B04A8C042F0},5000,2019-11-25,N4 4AP,O,N,L,11,NaN,CROUCH HILL,NaN,LONDON,ISLINGTON,GREATER LONDON,B,A
211281,{98C75472-1C52-72E9-E053-6B04A8C042F0},1270000,2019-11-25,NW8 7PX,F,N,L,"LONDON HOUSE, 7 - 9",FLAT 50,AVENUE ROAD,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON,B,A
182368,{98C75472-1C86-72E9-E053-6B04A8C042F0},525000,2019-11-25,NW7 4HE,T,N,F,1,NaN,HENDON PARK COTTAGES,NaN,LONDON,BARNET,GREATER LONDON,A,A
197516,{98C75472-1F7B-72E9-E053-6B04A8C042F0},1100000,2019-11-22,W9 1LH,F,N,L,LEITH MANSIONS,FLAT 47,GRANTULLY ROAD,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON,A,A
101497,{98C75472-46C8-72E9-E053-6B04A8C042F0},390000,2019-11-22,SE19 2UP,F,N,L,19,NaN,JENSON WAY,NaN,LONDON,CROYDON,GREATER LONDON,A,A
135198,{98C75472-6451-72E9-E053-6B04A8C042F0},650000,2019-11-22,SW4 7HA,T,N,F,120,NaN,BEDFORD ROAD,NaN,LONDON,LAMBETH,GREATER LONDON,A,A
199036,{98C75472-195E-72E9-E053-6B04A8C042F0},2450000,2019-11-22,W4 3LW,D,N,F,83,NaN,ST MARYS GROVE,NaN,LONDON,HOUNSLOW,GREATER LONDON,A,A
180394,{98C75472-1E78-72E9-E053-6B04A8C042F0},1080000,2019-11-22,NW3 2BE,F,N,L,70,FLAT 6,HAVERSTOCK HILL,NaN,LONDON,CAMDEN,GREATER LONDON,A,A
141608,{98C75472-66AD-72E9-E053-6B04A8C042F0},555000,2019-11-22,SW18 2HH,F,N,L,4,NaN,EAST HILL,WANDSWORTH,LONDON,WANDSWORTH,GREATER LONDON,A,A
154602,{98C75471-B933-72E9-E053-6B04A8C042F0},281000,2019-11-22,N9 9UN,F,N,L,HARINGTON TERRACE,52A,GREAT CAMBRIDGE ROAD,NaN,LONDON,ENFIELD,GREATER LONDON,B,A
150249,{98C75471-B8E4-72E9-E053-6B04A8C042F0},272000,2019-11-22,E18 2BD,F,N,L,"ULLSWATER COURT, 1",FLAT 30,GLEBELANDS AVENUE,NaN,LONDON,REDBRIDGE,GREATER LONDON,A,A
213235,{98C75472-C76E-72E9-E053-6B04A8C042F0},440000,2019-11-22,SW15 4DL,T,N,F,285,NaN,DANEBURY AVENUE,NaN,LONDON,WANDSWORTH,GREATER LONDON,B,A
99846,{98C75472-4499-72E9-E053-6B04A8C042F0},2250000,2019-11-22,SW13 0DT,S,N,F,48,NaN,RECTORY ROAD,NaN,LONDON,RICHMOND UPON THAMES,GREATER LONDON,A,A
263425,{98C75471-69D4-72E9-E053-6B04A8C042F0},505000,2019-11-22,SE13 7UQ,T,N,F,37,NaN,WHITBURN ROAD,NaN,LONDON,LEWISHAM,GREATER LONDON,A,A
406196,{98C75472-465F-72E9-E053-6B04A8C042F0},280000,2019-11-22,SE25 6LQ,F,N,L,141,FLAT 2,SELHURST ROAD,NaN,LONDON,CROYDON,GREATER LONDON,A,A
156605,{98C75471-B946-72E9-E053-6B04A8C042F0},305000,2019-11-22,E4 6JL,T,N,F,10,NaN,WEALE ROAD,NaN,LONDON,WALTHAM FOREST,GREATER LONDON,A,A
739639,{98C75471-B99C-72E9-E053-6B04A8C042F0},380000,2019-11-22,E3 5HY,F,N,L,"ENARD HOUSE, 1",FLAT 12,CARDIGAN ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
207226,{98C75472-1E1A-72E9-E053-6B04A8C042F0},430000,2019-11-22,NW5 1LY,F,N,L,CHESTER COURT,FLAT 8,LISSENDEN GARDENS,NaN,LONDON,CAMDEN,GREATER LONDON,A,A
205207,{98C75472-1E08-72E9-E053-6B04A8C042F0},375000,2019-11-22,N12 0BE,F,N,L,75,FLAT 1,FALLOW COURT AVENUE,NaN,LONDON,BARNET,GREATER LONDON,A,A
145501,{98C75471-BAA7-72E9-E053-6B04A8C042F0},440500,2019-11-22,E14 8JR,F,N,L,"NAXOS BUILDING, 4",FLAT 58,HUTCHINGS STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
715216,{98C75472-03BC-72E9-E053-6B04A8C042F0},1720780,2019-11-22,SW4 9EL,S,N,F,119,NaN,HAMBALT ROAD,NaN,LONDON,LAMBETH,GREATER LONDON,A,A
713203,{98C75472-0398-72E9-E053-6B04A8C042F0},1475000,2019-11-22,SW15 5DS,S,N,F,16,NaN,RODWAY ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313702,{8355F009-B3CB-55C5-E053-6B04A8C0D090},800000,2019-01-02,SE27 0BT,S,N,F,62,NaN,BROXHOLM ROAD,NaN,LONDON,LAMBETH,GREATER LONDON,B,A
748109,{85866A64-5E97-143F-E053-6B04A8C06A15},435000,2019-01-02,E3 4YL,F,Y,L,"FURLONG COURT, 6",FLAT 402,ST PAULS WAY,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
313084,{80E1AA98-B0D6-7BF8-E053-6C04A8C00BF2},320000,2019-01-02,SE17 1ED,F,N,L,NICHOLSON HOUSE,26,BRANDON STREET,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A
359143,{80E1AA98-6742-7BF8-E053-6C04A8C00BF2},590000,2019-01-02,NW1 7AU,F,N,L,15,FLAT B,GLOUCESTER AVENUE,NaN,LONDON,CAMDEN,GREATER LONDON,A,A
59088,{80E1AA98-8D22-7BF8-E053-6C04A8C00BF2},3500000,2019-01-02,SW18 3RS,S,N,F,30,NaN,BASKERVILLE ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A
59086,{80E1AA98-8D17-7BF8-E053-6C04A8C00BF2},899950,2019-01-02,SW11 5SA,F,N,F,106C,NaN,MYSORE ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A
775079,{87E1551E-5250-6405-E053-6C04A8C0B2EE},1800000,2019-01-02,SW3 3SX,T,N,F,49,NaN,GODFREY STREET,NaN,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON,A,A
358820,{80E1AA98-66F6-7BF8-E053-6C04A8C00BF2},1391500,2019-01-02,NW4 1AH,D,N,L,46,NaN,DOWNAGE,NaN,LONDON,BARNET,GREATER LONDON,A,A
358811,{80E1AA98-66DE-7BF8-E053-6C04A8C00BF2},250000,2019-01-02,NW2 6XB,F,N,L,"PARK VIEW, 133 - 143",FLAT 7A,OLIVE ROAD,NaN,LONDON,BRENT,GREATER LONDON,A,A
58236,{80E1AA98-8C76-7BF8-E053-6C04A8C00BF2},1405000,2019-01-02,SW15 1AF,S,N,F,13,NaN,EARLDOM ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A
341265,{80E1AA97-B2BB-7BF8-E053-6C04A8C00BF2},4100000,2019-01-02,W8 5EH,T,Y,L,"THE GARDENS, 21",4,YOUNG STREET,NaN,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON,A,A
336660,{80E1AA98-6518-7BF8-E053-6C04A8C00BF2},615000,2019-01-02,N17 6XW,T,N,F,16,NaN,GREYHOUND ROAD,NaN,LONDON,HARINGEY,GREATER LONDON,A,A
359466,{80E1AA98-67AC-7BF8-E053-6C04A8C00BF2},830000,2019-01-02,W5 4DS,T,N,F,70,NaN,SWYNCOMBE AVENUE,NaN,LONDON,HOUNSLOW,GREATER LONDON,A,A
57819,{80E1AA98-8C3E-7BF8-E053-6C04A8C00BF2},1355000,2019-01-02,SW12 8LR,T,N,F,54,NaN,CALBOURNE ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A
347499,{85866A65-4C27-143F-E053-6B04A8C06A15},670000,2019-01-02,E20 1GQ,F,Y,L,"MANHATTAN LOFT GARDENS, 22",APARTMENT 1606,INTERNATIONAL WAY,OLYMPIC PARK,LONDON,NEWHAM,GREATER LONDON,A,A
344612,{8CAC1317-E769-0253-E053-6B04A8C08E51},695640,2019-01-02,E14 3NW,F,Y,L,"HERITAGE TOWER, 118",FLAT 1106,EAST FERRY ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
343559,{85866A65-48AA-143F-E053-6B04A8C06A15},522500,2019-01-02,SE11 5QN,F,N,L,"IMPERIAL COURT, 225",FLAT 492,KENNINGTON LANE,NaN,LONDON,LAMBETH,GREATER LONDON,A,A
344470,{80E1AA97-A6E7-7BF8-E053-6C04A8C00BF2},685000,2019-01-02,N4 2SZ,F,N,L,47,FIRST FLOOR FLAT,QUEEN'S DRIVE,NaN,LONDON,HACKNEY,GREATER LONDON,A,A
345310,{80E1AA97-AAF6-7BF8-E053-6C04A8C00BF2},290000,2019-01-02,W13 8QH,F,N,L,31,GROUND FLOOR FLAT,HASTINGS ROAD,NaN,LONDON,EALING,GREATER LONDON,A,A
446267,{87E1551E-EA83-6405-E053-6C04A8C0B2EE},310000,2019-01-02,W9 2HQ,F,N,L,22,FOURTH FLOOR FLAT,SUTHERLAND AVENUE,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON,B,A
332094,{80E1AA98-47EA-7BF8-E053-6C04A8C00BF2},955000,2019-01-02,N16 8DG,T,N,F,84,NaN,PRINCESS MAY ROAD,NaN,LONDON,HACKNEY,GREATER LONDON,A,A
365713,{80E1AA98-6567-7BF8-E053-6C04A8C00BF2},758000,2019-01-02,W5 4UU,S,N,F,14,NaN,HOLLIES ROAD,NaN,LONDON,EALING,GREATER LONDON,A,A
735220,{85866A65-07F9-143F-E053-6B04A8C06A15},220000,2019-01-02,NW9 5HN,F,N,L,FLEMING WALK,12,PASTEUR CLOSE,NaN,LONDON,BARNET,GREATER LONDON,B,A
152838,{80E1AA98-F24E-7BF8-E053-6C04A8C00BF2},135000,2019-01-02,SE18 1PP,O,N,F,27,NaN,LAKEDALE ROAD,NaN,LONDON,GREENWICH,GREATER LONDON,B,A
656174,{85866A65-821D-143F-E053-6B04A8C06A15},455000,2019-01-02,SW16 5UA,T,N,F,218,NaN,WOODMANSTERNE ROAD,NaN,LONDON,LAMBETH,GREATER LONDON,B,A
609323,{8355F009-7EED-55C5-E053-6B04A8C0D090},500000,2019-01-02,E16 1YG,F,Y,L,"DISCOVERY TOWER, 1",22,TERRY SPINKS PLACE,NaN,LONDON,NEWHAM,GREATER LONDON,A,A
536157,{8CAC1319-19BD-0253-E053-6B04A8C08E51},12000,2019-01-02,E15 1SE,O,N,F,"PARKING SPACE, 14",NaN,LEYTONSTONE ROAD,NaN,LONDON,NEWHAM,GREATER LONDON,B,A
713382,{8355F009-DAB9-55C5-E053-6B04A8C0D090},2550000,2019-01-02,SE1 9GD,F,Y,L,1,APARTMENT 13,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,B,A
164250,{8355F008-A6D4-55C5-E053-6B04A8C0D090},550525,2019-01-01,E14 3NW,F,Y,L,"HERITAGE TOWER, 118",FLAT 1602,EAST FERRY ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
22620,{8A78B2B0-4B94-5CB0-E053-6B04A8C0F504},480000,2019-01-01,NW6 5PS,F,N,L,19C,NaN,MALVERN ROAD,NaN,LONDON,BRENT,GREATER LONDON,B,A

In [122]:
#Make a list called "Streets" of the streets in London
Streets_London = PriceData_London['Street'].unique().tolist()

PriceData_London_ByPrice = PriceData_London.groupby(['Street'])['Price'].mean().reset_index()

# Give meaningful names to the columns
PriceData_London_ByPrice.columns = ['Street', 'Avg_Price']

# Only take the top n most expensive neighborhoods
n = 10
PriceData_London_ByPrice = PriceData_London_ByPrice.sort_values('Avg_Price', ascending = False).head(n)

# Display the dataframe
PriceData_London_ByPrice

                    Street    Avg_Price
5203        GRESHAM STREET  411500000.0
4967       GODLIMAN STREET  302401851.0
8986          PENNANT MEWS  194800000.0
7845          MICHAEL ROAD  189089600.0
193    ALDGATE HIGH STREET  183000000.0
5433        HANOVER SQUARE  165500000.0
2100           CARTER LANE  159660000.0
6223         IMPERIAL ROAD  157940000.0
2879           COOPERS ROW  152706477.6
12407            WHITEHALL  107400000.0

In [109]:
import pandas as pd
import numpy as np
import datetime as DT
import hmac
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [110]:
for index, item in PriceData_London_ByPrice.iterrows():
    print(f"index: {index}")
    print(f"item: {item}")
    print(f"item.Street only: {item.Street}")

index: 5203
item: Street       GRESHAM STREET
Avg_Price         4.115e+08
Name: 5203, dtype: object
item.Street only: GRESHAM STREET
index: 4967
item: Street       GODLIMAN STREET
Avg_Price        3.02402e+08
Name: 4967, dtype: object
item.Street only: GODLIMAN STREET
index: 8986
item: Street       PENNANT MEWS
Avg_Price       1.948e+08
Name: 8986, dtype: object
item.Street only: PENNANT MEWS
index: 7845
item: Street       MICHAEL ROAD
Avg_Price      1.8909e+08
Name: 7845, dtype: object
item.Street only: MICHAEL ROAD
index: 193
item: Street       ALDGATE HIGH STREET
Avg_Price               1.83e+08
Name: 193, dtype: object
item.Street only: ALDGATE HIGH STREET
index: 5433
item: Street       HANOVER SQUARE
Avg_Price         1.655e+08
Name: 5433, dtype: object
item.Street only: HANOVER SQUARE
index: 2100
item: Street       CARTER LANE
Avg_Price     1.5966e+08
Name: 2100, dtype: object
item.Street only: CARTER LANE
index: 6223
item: Street       IMPERIAL ROAD
Avg_Price       1.5794e+08
Name: 6223, dtype: object
item.Street only: IMPERIAL ROAD
index: 2879
item: Street       COOPERS ROW
Avg_Price    1.52706e+08
Name: 2879, dtype: object
item.Street only: COOPERS ROW
index: 12407
item: Street       WHITEHALL
Avg_Price    1.074e+08
Name: 12407, dtype: object
item.Street only: WHITEHALL

In [114]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")

# Print a row with more detailed information about the streets for each street
for street in PriceData_London_ByPrice['Street']:
    print(geolocator.geocode(street))

Gresham Street, Canoga Park, Los Angeles, Los Angeles County, California, 91306, United States of America
Godliman Street, Temple, City of London, Greater London, England, EC4V 5BD, United Kingdom
Pennant Mews, Earl's Court, Royal Borough of Kensington and Chelsea, London, Greater London, England, W8 5JJ, United Kingdom
Michael Road, West Deer Township, Allegheny County, Pennsylvania, 15076, United States of America
Aldgate High Street, City of London, Greater London, England, EC3N 1BD, United Kingdom
Hanover Square, St. James's, Mayfair, City of Westminster, London, Greater London, England, United Kingdom
Carter Lane, Brookland, Folkestone and Hythe, Kent, South East, England, TN29 9RL, United Kingdom
Imperial Road, Haringey Heartlands, London Borough of Haringey, London, Greater London, England, N22 8DE, United Kingdom
Coopers Row, City of London, Greater London, England, EC3N 3AE, United Kingdom
Whitehall, London, Greater London, England, SW1A 2NH, United Kingdom

In [115]:
#In the above outputs it's apparent that the geolocator thinks some of the streets are in the US and not London.
#We can fix this by adding ", London" to the search

for street in PriceData_London_ByPrice['Street']:
    print(geolocator.geocode(street + ", London"))

Gresham Street, Temple, City of London, Greater London, England, EC2V 7BX, United Kingdom
Godliman Street, Temple, City of London, Greater London, England, EC4V 5BD, United Kingdom
Pennant Mews, Earl's Court, Royal Borough of Kensington and Chelsea, London, Greater London, England, W8 5JJ, United Kingdom
Michael Road, Whipps Cross, Leytonstone, London Borough of Waltham Forest, London, Greater London, England, E11 3DY, United Kingdom
Aldgate High Street, City of London, Greater London, England, EC3N 1BD, United Kingdom
Hanover Square, St. James's, Mayfair, City of Westminster, London, Greater London, England, United Kingdom
Carter Lane, Temple, City of London, Greater London, England, EC4V 5AE, United Kingdom
Imperial Road, Haringey Heartlands, London Borough of Haringey, London, Greater London, England, N22 8QQ, United Kingdom
Coopers Row, City of London, Greater London, England, EC3N 3AE, United Kingdom
Whitehall, London, Greater London, England, SW1A 2NH, United Kingdom

In [123]:
#We can fix this in the dataframe by adding this as well

PriceData_London_ByPriceFixed = PriceData_London_ByPrice
PriceData_London_ByPriceFixed['Street'] = PriceData_London_ByPrice['Street'].astype(str) + ", LONDON"
PriceData_London_ByPriceFixed

                            Street    Avg_Price
5203        GRESHAM STREET, LONDON  411500000.0
4967       GODLIMAN STREET, LONDON  302401851.0
8986          PENNANT MEWS, LONDON  194800000.0
7845          MICHAEL ROAD, LONDON  189089600.0
193    ALDGATE HIGH STREET, LONDON  183000000.0
5433        HANOVER SQUARE, LONDON  165500000.0
2100           CARTER LANE, LONDON  159660000.0
6223         IMPERIAL ROAD, LONDON  157940000.0
2879           COOPERS ROW, LONDON  152706477.6
12407            WHITEHALL, LONDON  107400000.0

In [131]:
PriceData_London_ByPriceFixed['street_coordinates'] = PriceData_London_ByPriceFixed['Street'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))
PriceData_London_ByPriceFixed

,Street,Avg_Price,Latitude,Longitude,street_coordinates
5203,"GRESHAM STREET, LONDON",411500000.0,51.516232,-0.096448,"(51.5162317, -0.0964481)"
4967,"GODLIMAN STREET, LONDON",302401851.0,51.512526,-0.099089,"(51.5125257, -0.0990892)"
8986,"PENNANT MEWS, LONDON",194800000.0,51.495338,-0.191601,"(51.4953378, -0.1916006)"
7845,"MICHAEL ROAD, LONDON",189089600.0,51.566179,0.011433,"(51.5661793, 0.0114331)"
193,"ALDGATE HIGH STREET, LONDON",183000000.0,51.513980,-0.075425,"(51.5139801, -0.0754254)"
5433,"HANOVER SQUARE, LONDON",165500000.0,51.513908,-0.143824,"(51.51390775, -0.14382390827702274)"
2100,"CARTER LANE, LONDON",159660000.0,51.512973,-0.100203,"(51.5129732, -0.1002027)"
6223,"IMPERIAL ROAD, LONDON",157940000.0,51.602725,-0.122014,"(51.6027248, -0.1220144)"
2879,"COOPERS ROW, LONDON",152706477.6,51.511590,-0.077344,"(51.5115896, -0.077344)"
12407,"WHITEHALL, LONDON",107400000.0,51.502328,-0.126083,"(51.5023278, -0.1260826)"

In [132]:
PriceData_London_ByPriceFixed[['Latitude', 'Longitude']] = PriceData_London_ByPriceFixed['street_coordinates'].apply(pd.Series)

PriceData_London_ByPriceFixed

,Street,Avg_Price,Latitude,Longitude,street_coordinates
5203,"GRESHAM STREET, LONDON",411500000.0,51.516232,-0.096448,"(51.5162317, -0.0964481)"
4967,"GODLIMAN STREET, LONDON",302401851.0,51.512526,-0.099089,"(51.5125257, -0.0990892)"
8986,"PENNANT MEWS, LONDON",194800000.0,51.495338,-0.191601,"(51.4953378, -0.1916006)"
7845,"MICHAEL ROAD, LONDON",189089600.0,51.566179,0.011433,"(51.5661793, 0.0114331)"
193,"ALDGATE HIGH STREET, LONDON",183000000.0,51.513980,-0.075425,"(51.5139801, -0.0754254)"
5433,"HANOVER SQUARE, LONDON",165500000.0,51.513908,-0.143824,"(51.51390775, -0.14382390827702274)"
2100,"CARTER LANE, LONDON",159660000.0,51.512973,-0.100203,"(51.5129732, -0.1002027)"
6223,"IMPERIAL ROAD, LONDON",157940000.0,51.602725,-0.122014,"(51.6027248, -0.1220144)"
2879,"COOPERS ROW, LONDON",152706477.6,51.511590,-0.077344,"(51.5115896, -0.077344)"
12407,"WHITEHALL, LONDON",107400000.0,51.502328,-0.126083,"(51.5023278, -0.1260826)"

In [134]:
PriceData_London_ByPriceFixed = PriceData_London_ByPriceFixed.drop(columns='street_coordinates')
PriceData_London_ByPriceFixed

                            Street    Avg_Price   Latitude  Longitude
5203        GRESHAM STREET, LONDON  411500000.0  51.516232  -0.096448
4967       GODLIMAN STREET, LONDON  302401851.0  51.512526  -0.099089
8986          PENNANT MEWS, LONDON  194800000.0  51.495338  -0.191601
7845          MICHAEL ROAD, LONDON  189089600.0  51.566179   0.011433
193    ALDGATE HIGH STREET, LONDON  183000000.0  51.513980  -0.075425
5433        HANOVER SQUARE, LONDON  165500000.0  51.513908  -0.143824
2100           CARTER LANE, LONDON  159660000.0  51.512973  -0.100203
6223         IMPERIAL ROAD, LONDON  157940000.0  51.602725  -0.122014
2879           COOPERS ROW, LONDON  152706477.6  51.511590  -0.077344
12407            WHITEHALL, LONDON  107400000.0  51.502328  -0.126083

In [135]:
#Now we want to create a map of the UK

address = 'London, UK'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The coordinates of London are {}, {}.'.format(latitude, longitude))

The coordinates of London are 51.5073219, -0.1276474.

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.

In [143]:
# create map of London using latitude and longitude values
LondonMap = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, price, street in zip(PriceData_London_ByPriceFixed['Latitude'], PriceData_London_ByPriceFixed['Longitude'], PriceData_London_ByPriceFixed['Avg_Price'], PriceData_London_ByPriceFixed['Street']):
    label = '{}, {}'.format(street, price)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='yellow',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(LondonMap)  
    
LondonMap

In [ ]:
#Login to FOURSQUARE

CLIENT_ID = 'KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3' # Foursquare ID
CLIENT_SECRET = 'QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD' # Foursquare Secret
VERSION = '20181206' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

In [171]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Street', 
                  'Street Latitude', 
                  'Street Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [189]:
# Run the above function on each location and create a new dataframe called location_venues and display it.
VenuesPerStreet = getNearbyVenues(names=PriceData_London_ByPriceFixed['Street'],
                                   latitudes=PriceData_London_ByPriceFixed['Latitude'],
                                   longitudes=PriceData_London_ByPriceFixed['Longitude']
                                  )

GRESHAM STREET, LONDON
GODLIMAN STREET, LONDON
PENNANT MEWS, LONDON
MICHAEL ROAD, LONDON
ALDGATE HIGH STREET, LONDON
HANOVER SQUARE, LONDON
CARTER LANE, LONDON
IMPERIAL ROAD, LONDON
COOPERS ROW, LONDON
WHITEHALL, LONDON

In [190]:
VenuesPerStreet

,Street,Street Latitude,Street Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"GRESHAM STREET, LONDON",51.516232,-0.096448,Pilpel,51.515195,-0.098462,Falafel Restaurant
1,"GRESHAM STREET, LONDON",51.516232,-0.096448,Virgin Active,51.517952,-0.097651,Gym / Fitness Center
2,"GRESHAM STREET, LONDON",51.516232,-0.096448,Museum of London,51.518019,-0.096060,History Museum
3,"GRESHAM STREET, LONDON",51.516232,-0.096448,Postman's Park,51.516860,-0.097643,Park
4,"GRESHAM STREET, LONDON",51.516232,-0.096448,One New Change Rooftop,51.513912,-0.095775,Roof Deck
5,"GRESHAM STREET, LONDON",51.516232,-0.096448,Christ Church Greyfriars Garden,51.515670,-0.098760,Garden
6,"GRESHAM STREET, LONDON",51.516232,-0.096448,M&S Simply Food,51.513590,-0.095297,Grocery Store
7,"GRESHAM STREET, LONDON",51.516232,-0.096448,Manicomio,51.515369,-0.095414,Italian Restaurant
8,"GRESHAM STREET, LONDON",51.516232,-0.096448,Burger & Lobster,51.513687,-0.094643,Seafood Restaurant
9,"GRESHAM STREET, LONDON",51.516232,-0.096448,Daunt Books,51.513982,-0.092995,Bookstore
10,"GRESHAM STREET, LONDON",51.516232,-0.096448,Paternoster Square,51.514572,-0.099226,Plaza
11,"GRESHAM STREET, LONDON",51.516232,-0.096448,Madison,51.513820,-0.095390,Cocktail Bar
12,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Highwalk,51.518427,-0.095051,Scenic Lookout
13,"GRESHAM STREET, LONDON",51.516232,-0.096448,St Paul's Churchyard,51.513450,-0.097171,Park
14,"GRESHAM STREET, LONDON",51.516232,-0.096448,St Bartholomew the Great (St Bartholomew-the-G...,51.518631,-0.099890,Church
15,"GRESHAM STREET, LONDON",51.516232,-0.096448,The Merchant House,51.513264,-0.093039,Cocktail Bar
16,"GRESHAM STREET, LONDON",51.516232,-0.096448,Paul,51.514130,-0.099306,Bakery
17,"GRESHAM STREET, LONDON",51.516232,-0.096448,Porterford Butchers,51.513032,-0.093737,Butcher
18,"GRESHAM STREET, LONDON",51.516232,-0.096448,Birley Sandwiches,51.514850,-0.099661,Sandwich Place
19,"GRESHAM STREET, LONDON",51.516232,-0.096448,City Càphê,51.514750,-0.091545,Vietnamese Restaurant
20,"GRESHAM STREET, LONDON",51.516232,-0.096448,Hawksmoor Guildhall,51.515647,-0.090997,Steakhouse
21,"GRESHAM STREET, LONDON",51.516232,-0.096448,Golden Gallery,51.513756,-0.098287,Scenic Lookout
22,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Concert Hall,51.519632,-0.093661,Concert Hall
23,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Art Gallery,51.519800,-0.093969,Art Gallery
24,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Centre,51.519855,-0.093942,Performing Arts Venue
25,"GRESHAM STREET, LONDON",51.516232,-0.096448,Wahaca,51.514034,-0.095556,Mexican Restaurant
26,"GRESHAM STREET, LONDON",51.516232,-0.096448,Guildhall Art Gallery,51.515551,-0.092004,Art Gallery
27,"GRESHAM STREET, LONDON",51.516232,-0.096448,Stationers' Hall,51.514292,-0.101487,Event Space
28,"GRESHAM STREET, LONDON",51.516232,-0.096448,itsu,51.514835,-0.097468,Sushi Restaurant
29,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Theatre,51.519722,-0.093606,Theater
...,...,...,...,...,...,...,...
680,"WHITEHALL, LONDON",51.502328,-0.126083,Afternoon Tea at the Corinthia Hotel,51.506572,-0.124350,Tea Room
681,"WHITEHALL, LONDON",51.502328,-0.126083,Strangers' Bar,51.499564,-0.123919,Bar
682,"WHITEHALL, LONDON",51.502328,-0.126083,London Marriott Hotel County Hall,51.501053,-0.119174,Hotel
683,"WHITEHALL, LONDON",51.502328,-0.126083,Trafalgar Studios,51.506651,-0.127378,Theater
684,"WHITEHALL, LONDON",51.502328,-0.126083,Poets' Corner,51.499186,-0.126482,Historic Site
685,"WHITEHALL, LONDON",51.502328,-0.126083,Pret A Manger,51.501106,-0.119605,Sandwich Place
686,"WHITEHALL, LONDON",51.502328,-0.126083,Lobby Lounge,51.506379,-0.124293,Lounge
687,"WHITEHALL, LONDON",51.502328,-0.126083,House of Commons Terrace,51.499154,-0.123989,Plaza
688,"WHITEHALL, LONDON",51.502328,-0.126083,The London Dungeon,51.502438,-0.119390,General Entertainment
689,"WHITEHALL, LONDON",51.502328,-0.126083,Costa Pronto,51.501002,-0.124744,Coffee Shop
690,"WHITEHALL, LONDON",51.502328,-0.126083,St James's Café,51.503998,-0.131390,Café
691,"WHITEHALL, LONDON",51.502328,-0.126083,The Westminster Abbey Shop,51.499573,-0.129169,Gift Shop
692,"WHITEHALL, LONDON",51.502328,-0.126083,hub London Westminster Abbey,51.499701,-0.131587,Hotel
693,"WHITEHALL, LONDON",51.502328,-0.126083,Civil Service Club,51.506539,-0.125609,Social Club
694,"WHITEHALL, LONDON",51.502328,-0.126083,The Northall,51.506599,-0.123821,English Restaurant
695,"WHITEHALL, LONDON",51.502328,-0.126083,Bassoon Bar,51.506415,-0.124046,Hotel Bar
696,"WHITEHALL, LONDON",51.502328,-0.126083,The Gym & Club at County Hall,51.502079,-0.119739,Gym
697,"WHITEHALL, LONDON",51.502328,-0.126083,The Tattershall Castle,51.505598,-0.122142,Pub
698,"WHITEHALL, LONDON",51.502328,-0.126083,The Old Shades,51.506404,-0.127165,Pub
699,"WHITEHALL, LONDON",51.502328,-0.126083,The Garden Lounge,51.506615,-0.124489,Café
700,"WHITEHALL, LONDON",51.502328,-0.126083,Sea Life London Aquarium,51.502181,-0.119616,Aquarium
701,"WHITEHALL, LONDON",51.502328,-0.126083,Pommery Champagne Lounge,51.503030,-0.119378,Champagne Bar
702,"WHITEHALL, LONDON",51.502328,-0.126083,Dean's Yard,51.498985,-0.128977,Plaza
703,"WHITEHALL, LONDON",51.502328,-0.126083,Namco Funscape County Hall,51.501400,-0.119354,Arcade
704,"WHITEHALL, LONDON",51.502328,-0.126083,London Eye 4D Experience,51.503253,-0.119338,Movie Theater
705,"WHITEHALL, LONDON",51.502328,-0.126083,Pickles Sandwich Bar,51.500913,-0.129895,Café
706,"WHITEHALL, LONDON",51.502328,-0.126083,Wesley's Cafe,51.500139,-0.129779,Café
707,"WHITEHALL, LONDON",51.502328,-0.126083,Westminster Arms,51.500480,-0.129544,Pub
708,"WHITEHALL, LONDON",51.502328,-0.126083,The Two Chairmen,51.500633,-0.131782,Pub
709,"WHITEHALL, LONDON",51.502328,-0.126083,Bali Bombing Memorial,51.502579,-0.129890,Sculpture Garden

In [203]:
#We don't care about what type of restaurant we are talking about, so if "restaurant" is in the word, group all as Restaurant
VenuesPerStreet['Venue Category'] = np.where(VenuesPerStreet['Venue Category'].str.contains("Restaurant", case=False, na=False), 'Restaurant', VenuesPerStreet['Venue Category'])
VenuesPerStreet['Venue Category'] = np.where(VenuesPerStreet['Venue Category'].str.contains("Bar", case=False, na=False), 'Bar', VenuesPerStreet['Venue Category'])

VenuesPerStreet

,Street,Street Latitude,Street Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"GRESHAM STREET, LONDON",51.516232,-0.096448,Pilpel,51.515195,-0.098462,Restaurant
1,"GRESHAM STREET, LONDON",51.516232,-0.096448,Virgin Active,51.517952,-0.097651,Gym / Fitness Center
2,"GRESHAM STREET, LONDON",51.516232,-0.096448,Museum of London,51.518019,-0.096060,History Museum
3,"GRESHAM STREET, LONDON",51.516232,-0.096448,Postman's Park,51.516860,-0.097643,Park
4,"GRESHAM STREET, LONDON",51.516232,-0.096448,One New Change Rooftop,51.513912,-0.095775,Roof Deck
5,"GRESHAM STREET, LONDON",51.516232,-0.096448,Christ Church Greyfriars Garden,51.515670,-0.098760,Garden
6,"GRESHAM STREET, LONDON",51.516232,-0.096448,M&S Simply Food,51.513590,-0.095297,Grocery Store
7,"GRESHAM STREET, LONDON",51.516232,-0.096448,Manicomio,51.515369,-0.095414,Restaurant
8,"GRESHAM STREET, LONDON",51.516232,-0.096448,Burger & Lobster,51.513687,-0.094643,Restaurant
9,"GRESHAM STREET, LONDON",51.516232,-0.096448,Daunt Books,51.513982,-0.092995,Bookstore
10,"GRESHAM STREET, LONDON",51.516232,-0.096448,Paternoster Square,51.514572,-0.099226,Plaza
11,"GRESHAM STREET, LONDON",51.516232,-0.096448,Madison,51.513820,-0.095390,Bar
12,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Highwalk,51.518427,-0.095051,Scenic Lookout
13,"GRESHAM STREET, LONDON",51.516232,-0.096448,St Paul's Churchyard,51.513450,-0.097171,Park
14,"GRESHAM STREET, LONDON",51.516232,-0.096448,St Bartholomew the Great (St Bartholomew-the-G...,51.518631,-0.099890,Church
15,"GRESHAM STREET, LONDON",51.516232,-0.096448,The Merchant House,51.513264,-0.093039,Bar
16,"GRESHAM STREET, LONDON",51.516232,-0.096448,Paul,51.514130,-0.099306,Bakery
17,"GRESHAM STREET, LONDON",51.516232,-0.096448,Porterford Butchers,51.513032,-0.093737,Butcher
18,"GRESHAM STREET, LONDON",51.516232,-0.096448,Birley Sandwiches,51.514850,-0.099661,Sandwich Place
19,"GRESHAM STREET, LONDON",51.516232,-0.096448,City Càphê,51.514750,-0.091545,Restaurant
20,"GRESHAM STREET, LONDON",51.516232,-0.096448,Hawksmoor Guildhall,51.515647,-0.090997,Steakhouse
21,"GRESHAM STREET, LONDON",51.516232,-0.096448,Golden Gallery,51.513756,-0.098287,Scenic Lookout
22,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Concert Hall,51.519632,-0.093661,Concert Hall
23,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Art Gallery,51.519800,-0.093969,Art Gallery
24,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Centre,51.519855,-0.093942,Performing Arts Venue
25,"GRESHAM STREET, LONDON",51.516232,-0.096448,Wahaca,51.514034,-0.095556,Restaurant
26,"GRESHAM STREET, LONDON",51.516232,-0.096448,Guildhall Art Gallery,51.515551,-0.092004,Art Gallery
27,"GRESHAM STREET, LONDON",51.516232,-0.096448,Stationers' Hall,51.514292,-0.101487,Event Space
28,"GRESHAM STREET, LONDON",51.516232,-0.096448,itsu,51.514835,-0.097468,Restaurant
29,"GRESHAM STREET, LONDON",51.516232,-0.096448,Barbican Theatre,51.519722,-0.093606,Theater
...,...,...,...,...,...,...,...
680,"WHITEHALL, LONDON",51.502328,-0.126083,Afternoon Tea at the Corinthia Hotel,51.506572,-0.124350,Tea Room
681,"WHITEHALL, LONDON",51.502328,-0.126083,Strangers' Bar,51.499564,-0.123919,Bar
682,"WHITEHALL, LONDON",51.502328,-0.126083,London Marriott Hotel County Hall,51.501053,-0.119174,Hotel
683,"WHITEHALL, LONDON",51.502328,-0.126083,Trafalgar Studios,51.506651,-0.127378,Theater
684,"WHITEHALL, LONDON",51.502328,-0.126083,Poets' Corner,51.499186,-0.126482,Historic Site
685,"WHITEHALL, LONDON",51.502328,-0.126083,Pret A Manger,51.501106,-0.119605,Sandwich Place
686,"WHITEHALL, LONDON",51.502328,-0.126083,Lobby Lounge,51.506379,-0.124293,Lounge
687,"WHITEHALL, LONDON",51.502328,-0.126083,House of Commons Terrace,51.499154,-0.123989,Plaza
688,"WHITEHALL, LONDON",51.502328,-0.126083,The London Dungeon,51.502438,-0.119390,General Entertainment
689,"WHITEHALL, LONDON",51.502328,-0.126083,Costa Pronto,51.501002,-0.124744,Coffee Shop
690,"WHITEHALL, LONDON",51.502328,-0.126083,St James's Café,51.503998,-0.131390,Café
691,"WHITEHALL, LONDON",51.502328,-0.126083,The Westminster Abbey Shop,51.499573,-0.129169,Gift Shop
692,"WHITEHALL, LONDON",51.502328,-0.126083,hub London Westminster Abbey,51.499701,-0.131587,Hotel
693,"WHITEHALL, LONDON",51.502328,-0.126083,Civil Service Club,51.506539,-0.125609,Social Club
694,"WHITEHALL, LONDON",51.502328,-0.126083,The Northall,51.506599,-0.123821,Restaurant
695,"WHITEHALL, LONDON",51.502328,-0.126083,Bassoon Bar,51.506415,-0.124046,Bar
696,"WHITEHALL, LONDON",51.502328,-0.126083,The Gym & Club at County Hall,51.502079,-0.119739,Gym
697,"WHITEHALL, LONDON",51.502328,-0.126083,The Tattershall Castle,51.505598,-0.122142,Pub
698,"WHITEHALL, LONDON",51.502328,-0.126083,The Old Shades,51.506404,-0.127165,Pub
699,"WHITEHALL, LONDON",51.502328,-0.126083,The Garden Lounge,51.506615,-0.124489,Café
700,"WHITEHALL, LONDON",51.502328,-0.126083,Sea Life London Aquarium,51.502181,-0.119616,Aquarium
701,"WHITEHALL, LONDON",51.502328,-0.126083,Pommery Champagne Lounge,51.503030,-0.119378,Bar
702,"WHITEHALL, LONDON",51.502328,-0.126083,Dean's Yard,51.498985,-0.128977,Plaza
703,"WHITEHALL, LONDON",51.502328,-0.126083,Namco Funscape County Hall,51.501400,-0.119354,Arcade
704,"WHITEHALL, LONDON",51.502328,-0.126083,London Eye 4D Experience,51.503253,-0.119338,Movie Theater
705,"WHITEHALL, LONDON",51.502328,-0.126083,Pickles Sandwich Bar,51.500913,-0.129895,Café
706,"WHITEHALL, LONDON",51.502328,-0.126083,Wesley's Cafe,51.500139,-0.129779,Café
707,"WHITEHALL, LONDON",51.502328,-0.126083,Westminster Arms,51.500480,-0.129544,Pub
708,"WHITEHALL, LONDON",51.502328,-0.126083,The Two Chairmen,51.500633,-0.131782,Pub
709,"WHITEHALL, LONDON",51.502328,-0.126083,Bali Bombing Memorial,51.502579,-0.129890,Sculpture Garden

In [204]:
VenuesPerStreet.groupby('Street').count()

,Street Latitude,Street Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Street,,,,,,
"ALDGATE HIGH STREET, LONDON",100,100,100,100,100,100
"CARTER LANE, LONDON",80,80,80,80,80,80
"COOPERS ROW, LONDON",80,80,80,80,80,80
"GODLIMAN STREET, LONDON",73,73,73,73,73,73
"GRESHAM STREET, LONDON",100,100,100,100,100,100
"HANOVER SQUARE, LONDON",100,100,100,100,100,100
"IMPERIAL ROAD, LONDON",8,8,8,8,8,8
"MICHAEL ROAD, LONDON",28,28,28,28,28,28
"PENNANT MEWS, LONDON",87,87,87,87,87,87
"WHITEHALL, LONDON",54,54,54,54,54,54

In [205]:
#Find out how many unique categories there are
print('There are {} uniques categories.'.format(len(VenuesPerStreet['Venue Category'].unique())))

There are 103 uniques categories.

In [206]:
VenuesPerStreet.shape

(710, 7)

In [207]:
# one hot encoding
venues_onehot = pd.get_dummies(VenuesPerStreet[['Venue Category']], prefix="", prefix_sep="")

# add street column back to dataframe
venues_onehot['Street'] = VenuesPerStreet['Street'] 

# move street column to the first column
fixed_columns = [venues_onehot.columns[-1]] + list(venues_onehot.columns[:-1])

#fixed_columns
venues_onehot = venues_onehot[fixed_columns]

venues_onehot.head()

,Street,Accessories Store,Aquarium,Arcade,Art Gallery,BBQ Joint,Bakery,Bar,Beach,Bed & Breakfast,...,Street Food Gathering,Supermarket,Tailor Shop,Tea Room,Theater,Toy / Game Store,Warehouse Store,Wine Shop,Women's Store,Yoga Studio
0,"GRESHAM STREET, LONDON",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"GRESHAM STREET, LONDON",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"GRESHAM STREET, LONDON",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"GRESHAM STREET, LONDON",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"GRESHAM STREET, LONDON",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [208]:
london_grouped = venues_onehot.groupby('Street').mean().reset_index()
london_grouped

,Street,Accessories Store,Aquarium,Arcade,Art Gallery,BBQ Joint,Bakery,Bar,Beach,Bed & Breakfast,...,Street Food Gathering,Supermarket,Tailor Shop,Tea Room,Theater,Toy / Game Store,Warehouse Store,Wine Shop,Women's Store,Yoga Studio
0,"ALDGATE HIGH STREET, LONDON",0.00,0.000000,0.000000,0.02,0.0100,0.010000,0.110000,0.000000,0.000000,...,0.0100,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.010000,0.00,0.00
1,"CARTER LANE, LONDON",0.00,0.000000,0.000000,0.00,0.0000,0.025000,0.087500,0.000000,0.000000,...,0.0000,0.000000,0.00,0.012500,0.000000,0.00,0.000000,0.000000,0.00,0.00
2,"COOPERS ROW, LONDON",0.00,0.000000,0.000000,0.00,0.0125,0.012500,0.125000,0.000000,0.000000,...,0.0125,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.00
3,"GODLIMAN STREET, LONDON",0.00,0.000000,0.000000,0.00,0.0000,0.027397,0.082192,0.013699,0.000000,...,0.0000,0.000000,0.00,0.013699,0.000000,0.00,0.000000,0.000000,0.00,0.00
4,"GRESHAM STREET, LONDON",0.00,0.000000,0.000000,0.03,0.0000,0.020000,0.070000,0.000000,0.000000,...,0.0000,0.000000,0.00,0.010000,0.010000,0.00,0.000000,0.000000,0.01,0.01
5,"HANOVER SQUARE, LONDON",0.01,0.000000,0.000000,0.05,0.0000,0.020000,0.050000,0.000000,0.000000,...,0.0000,0.010000,0.01,0.010000,0.010000,0.02,0.000000,0.000000,0.03,0.00
6,"IMPERIAL ROAD, LONDON",0.00,0.000000,0.000000,0.00,0.0000,0.250000,0.125000,0.000000,0.000000,...,0.0000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.00
7,"MICHAEL ROAD, LONDON",0.00,0.000000,0.000000,0.00,0.0000,0.035714,0.000000,0.000000,0.000000,...,0.0000,0.000000,0.00,0.000000,0.000000,0.00,0.035714,0.035714,0.00,0.00
8,"PENNANT MEWS, LONDON",0.00,0.000000,0.000000,0.00,0.0000,0.000000,0.045977,0.000000,0.022989,...,0.0000,0.011494,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.00
9,"WHITEHALL, LONDON",0.00,0.018519,0.018519,0.00,0.0000,0.000000,0.055556,0.000000,0.000000,...,0.0000,0.000000,0.00,0.037037,0.018519,0.00,0.000000,0.000000,0.00,0.00

In [209]:
# What are the top 10 venues/facilities nearby?

num_top_venues = 10

for hood in london_grouped['Street']:
    print("----"+hood+"----")
    temp = london_grouped[london_grouped['Street'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----ALDGATE HIGH STREET, LONDON----
                  venue  freq
0            Restaurant  0.31
1                   Bar  0.11
2                 Hotel  0.11
3           Coffee Shop  0.09
4                   Pub  0.04
5  Gym / Fitness Center  0.04
6           Salad Place  0.03
7                  Café  0.03
8           Pizza Place  0.03
9           Art Gallery  0.02


----CARTER LANE, LONDON----
                  venue  freq
0            Restaurant  0.26
1           Coffee Shop  0.10
2                   Pub  0.10
3                   Bar  0.09
4  Gym / Fitness Center  0.05
5        Sandwich Place  0.04
6                 Plaza  0.04
7                Bakery  0.02
8                  Park  0.02
9         Grocery Store  0.02


----COOPERS ROW, LONDON----
                  venue  freq
0            Restaurant  0.22
1                 Hotel  0.14
2                   Bar  0.12
3           Coffee Shop  0.06
4  Gym / Fitness Center  0.05
5                Castle  0.04
6                Garden  0.04
7                   Pub  0.02
8                  Café  0.02
9        Scenic Lookout  0.02


----GODLIMAN STREET, LONDON----
                  venue  freq
0            Restaurant  0.29
1           Coffee Shop  0.12
2                   Pub  0.10
3                   Bar  0.08
4        Sandwich Place  0.04
5                  Park  0.03
6                Bakery  0.03
7           Salad Place  0.03
8  Gym / Fitness Center  0.03
9           Pizza Place  0.03


----GRESHAM STREET, LONDON----
                  venue  freq
0            Restaurant  0.29
1           Coffee Shop  0.11
2                   Bar  0.07
3  Gym / Fitness Center  0.05
4           Art Gallery  0.03
5        Scenic Lookout  0.03
6            Steakhouse  0.03
7                 Plaza  0.03
8          Burger Joint  0.02
9                  Park  0.02


----HANOVER SQUARE, LONDON----
            venue  freq
0      Restaurant  0.13
1  Clothing Store  0.10
2  Cosmetics Shop  0.05
3             Bar  0.05
4     Art Gallery  0.05
5        Boutique  0.04
6            Café  0.04
7      Shoe Store  0.03
8   Women's Store  0.03
9          Lounge  0.03


----IMPERIAL ROAD, LONDON----
                 venue  freq
0               Bakery  0.25
1        Grocery Store  0.12
2                  Bar  0.12
3                 Café  0.12
4           Restaurant  0.12
5       Breakfast Spot  0.12
6                  Pub  0.12
7            Mini Golf  0.00
8  Monument / Landmark  0.00
9           Poke Place  0.00


----MICHAEL ROAD, LONDON----
           venue  freq
0     Restaurant  0.21
1            Pub  0.14
2           Café  0.14
3  Grocery Store  0.11
4       Bus Stop  0.07
5         Bakery  0.04
6       Platform  0.04
7    Music Venue  0.04
8    Pizza Place  0.04
9   Burger Joint  0.04


----PENNANT MEWS, LONDON----
            venue  freq
0      Restaurant  0.34
1           Hotel  0.24
2             Pub  0.07
3             Bar  0.05
4          Garden  0.03
5            Café  0.03
6   Historic Site  0.02
7  Breakfast Spot  0.02
8     Coffee Shop  0.02
9   Grocery Store  0.02


----WHITEHALL, LONDON----
                 venue  freq
0                Plaza  0.09
1                  Pub  0.09
2                 Café  0.07
3                Hotel  0.07
4  Monument / Landmark  0.06
5    Outdoor Sculpture  0.06
6        Historic Site  0.06
7                  Bar  0.06
8               Garden  0.04
9          Coffee Shop  0.04

In [210]:
# Define a function to return the most common venues nearby

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [211]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Street']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [212]:
# create a new dataframe
venues_sorted = pd.DataFrame(columns=columns)
venues_sorted['Street'] = london_grouped['Street']

for ind in np.arange(london_grouped.shape[0]):
    venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

In [214]:
venues_sorted.head(10)

,Street,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"ALDGATE HIGH STREET, LONDON",Restaurant,Hotel,Bar,Coffee Shop,Gym / Fitness Center,Pub,Pizza Place,Salad Place,Café,Art Gallery
1,"CARTER LANE, LONDON",Restaurant,Pub,Coffee Shop,Bar,Gym / Fitness Center,Sandwich Place,Plaza,Salad Place,Park,Grocery Store
2,"COOPERS ROW, LONDON",Restaurant,Hotel,Bar,Coffee Shop,Gym / Fitness Center,Garden,Castle,Pub,Salad Place,Scenic Lookout
3,"GODLIMAN STREET, LONDON",Restaurant,Coffee Shop,Pub,Bar,Sandwich Place,Bakery,Salad Place,Pizza Place,Park,Gym / Fitness Center
4,"GRESHAM STREET, LONDON",Restaurant,Coffee Shop,Bar,Gym / Fitness Center,Art Gallery,Plaza,Steakhouse,Scenic Lookout,Café,Burger Joint
5,"HANOVER SQUARE, LONDON",Restaurant,Clothing Store,Art Gallery,Bar,Cosmetics Shop,Boutique,Café,Shoe Store,Lounge,Women's Store
6,"IMPERIAL ROAD, LONDON",Bakery,Pub,Restaurant,Bar,Grocery Store,Breakfast Spot,Café,Yoga Studio,Factory,Deli / Bodega
7,"MICHAEL ROAD, LONDON",Restaurant,Café,Pub,Grocery Store,Bus Stop,Bakery,Music Venue,Burger Joint,Pizza Place,Coffee Shop
8,"PENNANT MEWS, LONDON",Restaurant,Hotel,Pub,Bar,Garden,Café,Historic Site,Grocery Store,Breakfast Spot,Coffee Shop
9,"WHITEHALL, LONDON",Pub,Plaza,Hotel,Café,Bar,Monument / Landmark,Outdoor Sculpture,Historic Site,Coffee Shop,Tea Room

In [215]:
venues_sorted.shape

(10, 11)

In [216]:
london_grouped.shape

(10, 104)

# Results & Discussion

The stakeholders in the company had decided that the best place to open a restaurant would be somewhere where there are as few restaurants as possible already.
Furthermore, it should be one of the most expensive places in London, as the owners want to show the exclusivity of the restaurant and attract customers with above average salaries.

We started by taking the top ten most expensive streets in London and have looked at the venues nearby.

Most of the streets have restaurants nearby, however Whitehall and Imperial Road do not have as many restaurants.

From the above we can conclude, that either Whitehall or Imperial Road would be the optimal areas to open a new restaurant.

# Conclusion 

To solve this business problem, we clustered London neighborhoods in order to recommend venues and the current average price of housing. We recommend venues by finding if there are any nearby restaurants already. 

First, we gathered data on London properties and the relative price paid data were extracted from the HM Land Registry (http://landregistry.data.gov.uk/). Moreover, to explore and target recommended locations across different venues according to the presence of amenities and essential facilities, we accessed data through FourSquare API interface and arranged them as a data frame for visualization. By merging data on London properties and the relative price paid data from the HM Land Registry and data on amenities and essential facilities surrounding such properties from FourSquare API interface, we were able to recommend where to start a restaurant.

The Methodology section comprised four stages: 1. Collect Inspection Data; 2. Explore and Understand Data; 3. Data preparation and preprocessing. 

The managers and stakeholders of EATWELL Corp have looked at the data and decided to start looking at either Whitehall or Imperial Road to find a place to open a restaurant near one of those roads.
In the real world, obviously more factors would come into play when choosing a venue, however with the data available to this research, these two roads have been chosen.